.input {
    width: 100%;
    height: 32px;
    padding: 0 12px;
    color: #000;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    background-color: #efeeee;
    border: 0;
    outline: 0;
}

.textarea {
    width: 100%;
    height: 210px;
    padding: 12px;
    color: #000;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    background-color: #efeeee;
    border: 0;
    outline: 0;
}
