/* Работающий @media (hover) для firefox и IE11 */
@custom-media --hover (hover), (-ms-high-contrast: none), (min--moz-device-pixel-ratio: 0);

@custom-media --max (min-width: 1201px);

@custom-media --desktop (max-width: 1200px);

@custom-media --tablet-landscape (max-width: 1024px);

@custom-media --tablet (max-width: 768px);

@custom-media --mobile-wide (max-width: 414px);

@custom-media --mobile (max-width: 360px);
