/* Заменил @reset-global pc; на отдельный файл так как
для :focus-visible нужно было убрать outline: 0; */
@import "reset-global-pc.css";
@import "custom-media.css";

*,
*::before,
*::after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

html,
body {
    width: 100%;
    /* height: 100%; */
    font-size: 16px;
    font-family: "EB Garamond", Times, serif;
}

body {
    display: flex;
    flex-direction: column;
}
.pageWrapper {
    max-width: 1366px;
    height: 100%;
    margin: 0 auto;
    padding: 0 40px 25px 110px;
    box: vertical;
    @media (--desktop) {
        padding: 0 40px 25px 40px;
    }
    @media (--tablet) {
        padding: 80px 20px 25px 20px;
    }
}
.page {
    flex: 1 1;
    width: 100%;
}
.pageColumn {
    box: horizontal;
    flex: 1 1;
    @media (--tablet) {
        box: vertical;
    }
}

.pageContent {
    position: relative;
    padding-right: 55px;
    lost-column: 5/7 2 5px flex;
    &:after {
        position: absolute;
        top: 35px;
        right: 0;
        width: 2px;
        height: calc(100% - 35px);
        background-color: #000;
        border-right: 1px solid #dddddd;
        content: "";
    }
    @media (--desktop) {
        padding-right: 40px;
    }
    @media (--tablet) {
        flex: 0 1 auto;
        flex-shrink: 1 !important;
        padding-right: 0px;
        lost-column: 1/1 1 0px flex;
        &:after {
            display: none;
        }
    }
}

.pageAside {
    lost-column: 2/7 2 5px flex;
    position: relative;
    padding-left: 43px;
    box: vertical top;
    &:after {
        position: absolute;
        top: 35px;
        left: 0;
        width: 2px;
        height: calc(100% - 35px);
        background-color: #000;
        border-right: 1px solid #dddddd;
        content: "";
    }
    @media (--desktop) {
        padding-left: 30px;
    }
    @media (--tablet) {
        lost-column: 1/1 12 0px flex;
        padding-left: 0px;
        &:after {
            display: none;
        }
    }
}
