/* stylelint-disable */
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}
body {
    margin: 0
}
article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
    display: block
}
audio,
canvas,
progress,
video {
    display: inline-block
}
audio:not([controls]) {
    display: none;
    height: 0
}
progress {
    vertical-align: baseline
}
template, [hidden] {
    display: none
}
a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}
a:active,
a:hover {
    outline-width: 0
}
abbr[title] {
    text-decoration: underline;
    text-decoration: underline dotted;
    border-bottom: none
}
b,
strong {
    font-weight: inherit
}
b,
strong {
    font-weight: bolder
}
dfn {
    font-style: italic
}
h1 {
    margin: 0.67em 0;
    font-size: 2em
}
mark {
    color: #000;
    background-color: #ff0
}
small {
    font-size: 80%
}
sub,
sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline
}
sub {
    bottom: -0.25em
}
sup {
    top: -0.5em
}
img {
    border-style: none
}
svg:not(:root) {
    overflow: hidden
}
code,
kbd,
pre,
samp {
    font-size: 1em;
    font-family: monospace, monospace
}
figure {
    margin: 1em 40px
}
hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}
button,
input,
optgroup,
select,
textarea {
    margin: 0;
    color: inherit;
    font: inherit;
    vertical-align: middle
}
optgroup {
    font-weight: bold
}
button,
input {
    overflow: visible
}
button,
select {
    text-transform: none
}
button, html [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: button
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    padding: 0;
    border-style: none
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText
}
fieldset {
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
    border: 1px solid #c0c0c0
}
legend {
    display: table;
    box-sizing: border-box;
    max-width: 100%;
    padding: 0;
    color: inherit;
    white-space: normal
}
textarea {
    overflow: auto;
    vertical-align: top;
    resize: none
}
/* input,
select,
textarea {
    outline: 0
} */
[disabled] {
    cursor: default
}
[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto
}
[type="search"] {
    outline-offset: -2px;
    -webkit-appearance: textfield
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}
input::-moz-placeholder,
textarea::-moz-placeholder {
    color: $colorPlaceholder
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: $colorPlaceholder
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: $colorPlaceholder
}
input::-ms-clear,
input::-ms-reveal {
    display: none
}
::-webkit-file-upload-button {
    font: inherit;
    -webkit-appearance: button
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
td,
th {
    padding: 0
}
h1, h2, h3, h4, h5, h6, p, figure, form, blockquote {
    margin: 0
}
ul, ol, li, dl, dd {
    margin: 0;
    padding: 0
}
ul, ol {
    list-style: none outside none
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-size: 100%
}
