.articleTag {
    margin-bottom: 8px;
    color: #000000;
    font-weight: 600;
    font-size: 10px;
    text-transform: uppercase;
}

.articlePhoto {
    margin-bottom: 34px;
    aspect-ratio: "16:9";
    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.articleContent {
    & h1 {
        margin-bottom: 15px;
        color: #725b2e;
        font-weight: 400;
        font-size: 39px;
        line-height: 39px;
    }
    & p {
        margin-bottom: 17px;
        color: #000000;
        font-weight: 400;
        font-size: 17px;
        line-height: 27px;
        text-indent: 2em;
    }
}

.articleFooter {
    margin-bottom: 30px;
    padding-top: 8px;
    border-top: 1px solid #000;
    box: horizontal middle space-between;
    & time {
        color: #000000;
        font-weight: 700;
        font-size: 8px;
        text-transform: uppercase;
    }
    & a {
        color: #725b2e;
        font-weight: 700;
        font-size: 8px;
        text-transform: uppercase;
        text-decoration: none;
        transition: all 0.4s;
        @media (--hover) {
            &:hover {
                color: #ab812e;
            }
        }
    }
}

.articleRating {
    margin-bottom: 40px;
    padding-left: 20px;
    & .articleRatingHeader {
        color: #b8b8b8;
        font-weight: 400;
        font-size: 10px;
    }
}
