.articleComments {
    margin-bottom: 27px;
}
.articleCommentCount {
    margin-bottom: 40px;
    padding-left: 20px;
    color: #725b2e;
    font-weight: 600;
    font-size: 24px;
}

.articleCommentItems {
    margin-bottom: 27px;
    padding-bottom: 86px;
    padding-left: 20px;
    border-bottom: 1px solid #000;
}

.articleCommentItem {
    box: vertical;
    margin-bottom: 35px;
}

.articleCommentItemTop {
    box: horizontal;
    margin-bottom: 17px;
}

.articleCommentItemAvatar {
    margin-right: 10px;
    & img {
        width: 30px;
        max-width: 30px;
        height: 30px;
        max-height: 30px;
    }
}

.articleCommentItemInfo {
    box: vertical top left;
}

.articleCommentItemName {
    color: #000000;
    font-weight: 400;
    font-weight: 700;
    font-size: 16px;
}

.articleCommentItemRow {
    color: #0d432a;
    font-size: 12px;
    font-style: italic;
    & a {
        margin-left: 20px;
        color: #0d432a;
        text-decoration: none;
        transition: all 0.4s;
        @media (--hover) {
            &:hover {
                color: #000;
            }
        }
    }
}

.articleCommentItemText {
    color: #000000;
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
}
