.articleCommentForm {
    padding-left: 20px;
}

.articleCommentFormColumns {
    box: horizontal;
    @media (--mobile-wide) {
        box: vertical;
    }
}

.articleCommentFormColumn {
    lost-column: 1/2 2 15px flex;
    @media (--mobile-wide) {
        lost-column: 1/1 1 0px flex;
    }
}

.articleCommentFormItem {
    position: relative;
    width: 100%;
    margin-bottom: 27px;
}

.articleCommentFormItemRight {
    box: horizontal middle right;
}
