.header {
    z-index: 100;
    width: 100%;
    height: 105px;
    background-color: #000;
    @media (--desktop) {
        height: 80px;
    }
    @media (--tablet) {
        position: fixed;
    }
}

.headerWrapper {
    width: 100%;
    max-width: 1366px;
    height: 100%;
    margin: 0 auto;
    padding: 0 40px 0 110px;
    box: horizontal middle;
    @media (--desktop) {
        padding: 0 40px;
        box: horizontal middle space-between;
    }
    @media (--tablet) {
        padding: 0 20px;
    }
}

.headerLogo {
    flex: 1 1 auto;
    width: 214px;
    height: 50px;
    background-image: url("/img/capitlidolLogoColor.svg");
    background-repeat: no-repeat;
    & a {
        display: block;
        width: 214px;
        height: 100%;
    }
    @media (--mobile) {
        flex: 0 1 auto;
        width: 150px;
        background-position: center center;
        background-size: 150px auto;
        & a {
            width: 150px;
        }
    }
}

.headerMenu {
    & a {
        position: relative;
        margin-right: 78px;
        color: #ffffff;
        font-weight: 600;
        font-size: 17px;
        line-height: 17px;
        text-transform: uppercase;
        text-decoration: none;
        &:after {
            position: absolute;
            left: 0;
            display: block;
            width: 100%;
            height: 1px;
            background-color: #fff;
            content: "";
            transform: scaleX(0);
            transform-origin: center center;
            transition: all 0.3s;
        }
        @media (--hover) {
            &:hover {
                &:after {
                    transform: scaleX(1);
                }
            }
        }
    }
    @media (--desktop) {
        display: none;
    }
}
.headerLang {
    color: #ffffff;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    & a {
        color: #fff;
        text-decoration: none;
        transition: all 0.3s;
        @media (--hover) {
            &:hover {
                text-decoration: underline;
            }
        }
    }
    & span {
        padding: 0 3px;
        font-size: 14px;
        line-height: 14px;
    }
    @media (--desktop) {
        display: none;
    }
}

.headerSearch {
    margin-right: 85px;
    @media (--desktop) {
        display: none;
    }
}
.headerSearchForm {
    margin-top: -3px;
}
.headerSearchInput {
    width: 112px;
    height: 19px;
    padding: 0 8px;
    color: #000;
    font-weight: 400;
    font-size: 13px;
    background-color: #ffffff;
    border: 0;
    border-radius: 9px;
    outline: 0;
}
/* form.headerSearchForm
    input.headerSearchInput(placeholder="Search") */
