.mobileMenu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 90;
    width: 100vw;
    height: 100vh;
    padding: 0 20px;
    padding-top: 100px;
    background-color: #000;
    transform: translateX(150vh);
    transition: all 0.5s easeInOutCubic;
    box: vertical top;
    @media (--max) {
        display: none;
    }
    @media (--mobile) {
        padding-top: 61px;
    }
}

.mobileMenuShow {
    transform: translateX(0%);
}

.mobileMenuItems {
    box: vertical top left;
    padding: 20px 0;
    border-top: 1px solid rgba(33, 26, 53, 0.1);
    & a {
        margin-right: 78px;
        margin-bottom: 20px;
        color: #ffffff;
        font-weight: 600;
        font-size: 17px;
        line-height: 17px;
        text-transform: uppercase;
        text-decoration: none;
    }
}
.mobileSearch {
    margin-bottom: 20px;
}
.mobileLang {
    color: #ffffff;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    & a {
        color: #fff;
        text-decoration: none;
    }
    & span {
        padding: 0 3px;
        font-size: 14px;
        line-height: 14px;
    }
}
.headerMobileMenu {
    position: relative;
    width: 18px;
    height: 12px;
    & .headerMobileMenuLine {
        position: absolute;
        top: 50%;
        width: 18px;
        height: 2px;
        margin-top: -1px;
        margin-bottom: 3px;
        background-color: #fff;
        transition: top 0.2s, transform 0.4s;
        transition-delay: 0s, 0.2s;
        &:nth-child(2) {
            transition: all 0s;
        }
        &:first-child {
            top: 0;
            margin-top: 0;
        }
        &:last-child {
            top: 10px;
            margin-top: 0;
        }
    }
    @media (--max) {
        display: none;
    }
}
.headerMobileMenuOpen {
    .headerMobileMenuLine {
        &:nth-child(2) {
            opacity: 0;
        }
        &:first-child {
            top: 50%;
            margin-top: -1px;
            transform: rotate(45deg);
            transform-origin: 50% 50%;
        }
        &:last-child {
            top: 50%;
            margin-top: -1px;
            transform: rotate(-45deg);
            transform-origin: 50% 50%;
        }
    }
}
