doctype
html(lang="ru")
    head
        title CapitalIdol
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width user-scalable=yes")
        link(type="image/x-icon" href="favicon.ico" rel="shortcut icon")
        link(type="text/css" href="css/main.css" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=EB+Garamond:400,400i,600,700&amp;subset=cyrillic" rel="stylesheet")

    body

        

        include _svg.pug
        include block/_mobile.pug
        include block/_header.pug
        .page
            block content
        include block/_footer.pug

        
        script(src="js/svg-loader.js")
        script(src="js/commons.js")
        script(src="js/app.js")
