mixin svgIcon(name)
    - idname = "#" + name
    svg(class=name)
        use(xlink:href=idname)

script(src="js/svg-loader.js")
//-svg(style="height: 0; width: 0; position: absolute; visibility: hidden")
    include ../../build/img/sprite.svg
