extends _layout

block content
	
        main.pageWrapper
            .hero
                h1 Capitalidol — trade smart and make a profit
            .pageColumn
                section.pageContent
                    .news
                        .newsHeader last news
                        .newsItems
                            .newsItem
                                .newsItemPhoto
                                    .newsItemPhotoWrap
                                        img(src="/img/big.jpg")
                                .newsItemContent
                                    .newsItemTop
                                        span Forex trade
                                        h2 How to Get Started with Binary Options Trading
                                        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo conse
                                    .newsItemFooter
                                        time 23 | 09 | 2019
                                        a(href="#") READ MORe
                            .newsItem
                                .newsItemPhoto
                                    .newsItemPhotoWrap
                                        img(src="/img/big.jpg")
                                .newsItemContent
                                    .newsItemTop
                                        span Forex trade
                                        h2 How to Get Started with Binary Options Trading
                                        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo conse
                                    .newsItemFooter
                                        time 23 | 09 | 2019
                                        a(href="#") READ MORe
                            .newsItem
                                .newsItemPhoto
                                    .newsItemPhotoWrap
                                        img(src="/img/big.jpg")
                                .newsItemContent
                                    .newsItemTop
                                        span Forex trade
                                        h2 How to Get Started with Binary Options Trading
                                        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo conse
                                    .newsItemFooter
                                        time 23 | 09 | 2019
                                        a(href="#") READ MORe
                            
                            
                aside.pageAside
                    .news
                        .newsHeader archive
                        .newsItems
                            .newsItemArchive
                                .newsItemArchiveTop
                                    .newsItemArchivePhoto
                                        img(src="/img/big.jpg")
                                    .newsItemArchiveContent
                                        span Forex trade
                                        h3 Capitalidol — trade smart and make a profit

                                    
                                .newsItemArchiveFooter
                                    time 23 | 09 | 2019
                                    a(href="#") READ MORe
                            .newsItemArchive
                                .newsItemArchiveTop
                                    .newsItemArchivePhoto
                                        img(src="/img/big.jpg")
                                    .newsItemArchiveContent
                                        span Forex trade
                                        h3 Capitalidol — trade smart and make a profit

                                    
                                .newsItemArchiveFooter
                                    time 23 | 09 | 2019
                                    a(href="#") READ MORe
                            .newsItemArchive
                                .newsItemArchiveTop
                                    .newsItemArchivePhoto
                                        img(src="/img/big.jpg")
                                    .newsItemArchiveContent
                                        span Forex trade
                                        h3 Capitalidol — trade smart and make a profit

                                    
                                .newsItemArchiveFooter
                                    time 23 | 09 | 2019
                                    a(href="#") READ MORe
                    .pagination
                        a(href="#")
                            +svgIcon("arrow_left")
                        a(href="#")
                            span Next
                            +svgIcon("arrow_right")
                            
                        