extends _layout

block content
	
        main.pageWrapper
            .hero
                h1 Capitalidol — trade smart and make a profit
            .pageColumn
                section.pageContent
                    article.article
                        .articleTag Forex trade
                        .articlePhoto
                            img(src='/img/bigbig.jpg')
                        .articleContent
                            h1  How to Get Started with Binary Options Trading
                            p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo conse.
                            p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo conse Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo conse Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo conse Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                            p Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo conse Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                            p At wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo conse Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo conse Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo conse Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo conse.
                            p Ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo conse Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo conse Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo conse Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo conse
                            
                        .articleFooter
                            time 23 | 09 | 2019
                            a(href="#") CLOSE
                        .articleRating
                            .articleRatingHeader rating
                            .articleRatingJS
                                
                        .articleComments
                            .articleCommentCount 3 comments
                            .articleCommentItems
                                .articleCommentItem
                                    .articleCommentItemTop
                                        .articleCommentItemAvatar
                                            img(src='/img/avatar.jpg')
                                        .articleCommentItemInfo
                                            .articleCommentItemName
                                                | Theodor
                                            .articleCommentItemRow
                                                time 7 september, 2019	
                                                a(href="#") reply
                                    .articleCommentItemText
                                        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                                .articleCommentItem
                                    .articleCommentItemTop
                                        .articleCommentItemAvatar
                                            img(src='/img/avatar.jpg')
                                        .articleCommentItemInfo
                                            .articleCommentItemName
                                                | Theodor
                                            .articleCommentItemRow
                                                time 7 september, 2019	
                                                a(href="#") reply
                                    .articleCommentItemText
                                        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                                .articleCommentItem
                                    .articleCommentItemTop
                                        .articleCommentItemAvatar
                                            img(src='/img/avatar.jpg')
                                        .articleCommentItemInfo
                                            .articleCommentItemName
                                                | Theodor
                                            .articleCommentItemRow
                                                time 7 september, 2019	
                                                a(href="#") reply
                                    .articleCommentItemText
                                        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                            form.articleCommentForm
                                .articleCommentFormColumns 
                                    .articleCommentFormColumn
                                        .articleCommentFormItem
                                            input.input(name="name" placeholder="NAME" required data-value-missing="The field is required, but missing")
                                    .articleCommentFormColumn
                                        .articleCommentFormItem
                                            input.input(name="email" placeholder="EMAIL" type="email" required data-value-missing="The field is required, but missing" data-type-missmatch="Please enter email address")
                                .articleCommentFormItem
                                    textarea.textarea(name="text" placeholder="COMMENT" required data-value-missing="The field is required, but missing")
                                .articleCommentFormItem.articleCommentFormItemRight
                                    button(type="submit").buttonBrown SUBMIT COMMENT
                                
                        
                            
                            
                aside.pageAside
                    .news
                        .newsHeader archive
                        .newsItems
                            .newsItemArchive
                                .newsItemArchiveTop
                                    .newsItemArchivePhoto
                                        img(src="/img/big.jpg")
                                    .newsItemArchiveContent
                                        span Forex trade
                                        h3 Capitalidol — trade smart and make a profit

                                    
                                .newsItemArchiveFooter
                                    time 23 | 09 | 2019
                                    a(href="#") READ MORe
                            .newsItemArchive
                                .newsItemArchiveTop
                                    .newsItemArchivePhoto
                                        img(src="/img/big.jpg")
                                    .newsItemArchiveContent
                                        span Forex trade
                                        h3 Capitalidol — trade smart and make a profit

                                    
                                .newsItemArchiveFooter
                                    time 23 | 09 | 2019
                                    a(href="#") READ MORe
                            .newsItemArchive
                                .newsItemArchiveTop
                                    .newsItemArchivePhoto
                                        img(src="/img/big.jpg")
                                    .newsItemArchiveContent
                                        span Forex trade
                                        h3 Capitalidol — trade smart and make a profit

                                    
                                .newsItemArchiveFooter
                                    time 23 | 09 | 2019
                                    a(href="#") READ MORe
                    .pagination
                        a(href="#")
                            +svgIcon("arrow_left")
                        a(href="#")
                            span Next
                            +svgIcon("arrow_right")
                            
                        