.newsItemArchive {
    box: vertical;
    margin-bottom: 32px;
}

.newsItemArchiveTop {
    box: horizontal;
    margin-bottom: 14px;
    @media (--desktop) {
        box: vertical;
    }
    @media (--tablet) {
        box: horizontal;
    }
}

.newsItemArchivePhoto {
    lost-column: 2/5 2 20px flex;
    & img {
        max-width: 100%;
        object-fit: cover;
    }
    @media (--desktop) {
        lost-column: 1/1 1 0px flex;
        margin-bottom: 10px;
    }
    @media (--tablet) {
        lost-column: 2/5 2 20px flex;
        margin-bottom: 0;
    }
    @media (--mobile-wide) {
        display: none;
    }
}
.newsItemArchiveContent {
    lost-column: 3/5 2 20px flex;
    box: vertical top;
    & span {
        display: block;
        margin-bottom: 8px;
        color: #000000;
        font-weight: 400;
        font-size: 8px;
        line-height: 8px;
        text-transform: uppercase;
    }
    & h3 {
        color: #000000;
        font-weight: 400;
        font-size: 18px;
        line-height: 23px;
    }
    @media (--desktop) {
        lost-column: 1/1 1 0px flex;
    }
    @media (--tablet) {
        lost-column: 3/5 2 20px flex;
    }
    @media (--mobile-wide) {
        lost-column: 1/1 1 0px flex;
    }
}

.newsItemArchiveFooter {
    box: horizontal middle space-between;
    padding-top: 8px;
    border-top: 1px solid #000;
    & time {
        color: #000000;
        font-weight: 700;
        font-size: 8px;
        text-transform: uppercase;
    }
    & a {
        color: #725b2e;
        font-weight: 700;
        font-size: 8px;
        text-transform: uppercase;
        text-decoration: none;
        transition: all 0.4s;
        @media (--hover) {
            &:hover {
                color: #ab812e;
            }
        }
    }
}
