.newsItem {
    box: horizontal;
    margin-bottom: 110px;
    @media (--desktop) {
        box: vertical;
    }
}

.newsItemPhoto {
    lost-column: 2/5 2 65px flex;
    & .newsItemPhotoWrap {
        aspect-ratio: "16:10";
    }
    & img {
        width: 100%;
        max-width: 100%;
        height: 100%;
        object-fit: cover;
    }
    @media (--desktop) {
        lost-column: 1/1 1 0px flex;
        margin-bottom: 10px;
    }
}
.newsItemContent {
    lost-column: 3/5 2 65px flex;
    box: vertical top;
    @media (--desktop) {
        lost-column: 1/1 1 0px flex;
    }
}
.newsItemTop {
    flex: 1 1 auto;
    width: 100%;
    & span {
        display: block;
        margin-bottom: 10px;
        color: #000000;
        font-weight: 400;
        font-size: 8px;
        line-height: 8px;
        text-transform: uppercase;
    }
    & h2 {
        margin-bottom: 17px;
        color: #725b2e;
        font-weight: 600;
        font-size: 29px;
        line-height: 28px;
    }
    & p {
        margin-bottom: 23px;
        font-weight: 400;
        font-size: 17px;
    }
}
.newsItemFooter {
    box: horizontal middle space-between;
    padding-top: 8px;
    border-top: 1px solid #000;
    & time {
        color: #000000;
        font-weight: 700;
        font-size: 8px;
        text-transform: uppercase;
    }
    & a {
        color: #725b2e;
        font-weight: 700;
        font-size: 8px;
        text-transform: uppercase;
        text-decoration: none;
        transition: all 0.4s;
        @media (--hover) {
            &:hover {
                color: #ab812e;
            }
        }
    }
}
