.footer {
    padding: 75px 0 44px;
    background-color: #725b2e;
}

.footerTop {
    flex: 0 1 auto;
    max-width: 1366px;
    margin: 0 auto;
    margin-bottom: 100px;
    padding: 0 40px 0 110px;
    box: horizontal top;
    @media (--desktop) {
        padding: 0 40px;
    }
    @media (--tablet) {
        margin-bottom: 40px;
        padding: 0 20px;
        box: vertical;
    }
}

.footerBottom {
    flex: 0 1 auto;
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 40px 0 110px;
    box: horizontal top space-between;
    @media (--desktop) {
        padding: 0 40px;
    }
    @media (--tablet) {
        padding: 0 20px;
        box: vertical top left;
    }
}

.footerTopLeft {
    margin-right: 20px;
    box: vertical top;
}
.footerTopLogo {
    flex: 1 1 auto;
    width: 169px;
    height: 40px;
    margin-bottom: 8px;
    background-image: url("/img/capitlidolLogoWhite.svg");
    background-repeat: no-repeat;
    @media (--tablet) {
        margin-bottom: 20px;
    }
}
.footerTopSlogan {
    width: 230px;
    padding-top: 8px;
    color: #ffffff;
    font-weight: 700;
    font-size: 10px;
    line-height: 13px;
    text-transform: uppercase;
    border-top: 1px solid #fff;
    @media (--tablet) {
        margin-bottom: 20px;
    }
}

.footerTopText {
    color: #ffffff;
    font-weight: 700;
    font-size: 10px;
    line-height: 14px;
}

.footerCopyright {
    color: #ffffff;
    font-weight: 400;
    font-size: 10px;
    font-family: Arial, sans-serif;
    line-height: 13px;
    text-transform: uppercase;
    @media (--tablet) {
        margin-bottom: 10px;
    }
}

.footerMenu {
    box: horizontal middle right;
    & a {
        margin-left: 40px;
        color: #ffffff;
        font-weight: 400;
        font-size: 10px;
        font-family: Arial, sans-serif;
        line-height: 13px;
        text-transform: uppercase;
        text-decoration: none;
        transition: all 0.4s;
        @media (--hover) {
            &:hover {
                color: #d8d8d8;
            }
        }
    }
    @media (--tablet) {
        box: vertical top left;
        & a {
            margin-bottom: 10px;
            margin-left: 0;
        }
    }
}
