.hero {
    margin-bottom: 29px;
    padding-top: 52px;
    color: #725b2e;
    font-weight: 600;
    font-size: 45px;
    line-height: 55px;
    text-transform: uppercase;
    @media (--tablet) {
        font-size: 30px;
        line-height: 40px;
    }
}
