.buttonBrown {
    height: 44px;
    padding: 0 7px;
    color: #f5f5f5;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    background-color: #725b2e;
    border: 0;
    outline: 0;
    transition: all 0.4s;
    @media (--hover) {
        &:hover {
            background-color: #ab812e;
        }
    }
}
