.footer
    .footerTop
        .footerTopLeft
            a(href="#").footerTopLogo
            .footerTopSlogan 
                | Capitalidol — trade smart <br />and make a profit

                
                
        .footerTopRight
            .footerTopText Binary options are a high-risk financial instrument that will not suit each and every trader. MoneyTotem is an independent online trader community, and not a brokerage company and does not offer trading or financial betting services. Thereby, the administrators of the website shall not be held responsible for any actions performed by the visitors of the site in connection with trading in financial markets. We aim to improve the accessibility of information related to the industry of binary option trading. We try to provide our visitors with detailed and up to date information about the best brokerage companies, as well as learning materials to help them raise their awareness and knowledge of the issues connected to online trading. Binary options are not available to retail EU traders. If you are not a professional trader, please leave this page It should be noted that forex and CFD (contracts for difference) are also classified as risky financial instruments and involve non-zero chances of losing your capital.
    .footerBottom
        .footerCopyright
            | © 2015-2019 capitalidol	
        .footerMenu
            a(href="#") Contact Us 		
            a(href="#") Terms of Use 	
            a(href="#") Privacy Policy
             
        