.header
    
    .header
        .headerWrapper
            .headerLogo
                a(href="#")
            .headerMenu
                a(href="#") BETTING
                a(href="#") CASINO			
                a(href="#") TRADING		  
                a(href="#") NEWS
            .headerSearch
                form.headerSearchForm
                    input.headerSearchInput(placeholder="Search")
            .headerLang
                a(href="#") RU
                span |
                a(href="#") IND
                
            .headerMobileMenu
                .headerMobileMenuLine
                .headerMobileMenuLine
                .headerMobileMenuLine