.mobileMenu
    .mobileMenuItems
        a(href="#") BETTING
        a(href="#") CASINO			
        a(href="#") TRADING		  
        a(href="#") NEWS
    .mobileSearch
        form.headerSearchForm
            input.headerSearchInput(placeholder="Search")
    .mobileLang
        a(href="#") RU
        span |
        a(href="#") IND
