.pagination {
    box: horizontal middle center;
    & a {
        display: block;
        height: 31px;
        padding: 8px;
        text-decoration: none;
        background-color: #725b2e;
        border-radius: 10px 0 0 10px;
        box: horizontal middle;
        transition: all 0.4s;
        & span {
            display: block;
            height: 15px;
            margin-right: 8px;
            padding-left: 5px;
            color: #fbfbfb;
            font-weight: 600;
            font-size: 20px;
            line-height: 15px;
        }
        & svg {
            width: 15px;
            height: 15px;
        }
        &:last-child {
            margin-left: 1px;
            border-radius: 0 10px 10px 0;
        }
        @media (--hover) {
            &:hover {
                background-color: #ab812e;
            }
        }
    }
}
